@use "sass:map";

$mono: (
  Apple: "Menlo",
  Windows: "Consolas",
);

$sans: (
  Apple: "Helvetica",
  Windows: "Calibri",
);

$serif: (
  Apple: "Times New Roman",
  Windows: "Constantia",
);

$slab: (
  Apple: "Rockwell",
  Windows: "Cambria",
);

@function family($fallback, $platforms, $platform) {
  @return if(
    $platform,
    map.get($platforms, $platform),
    map.values($platforms)
  ), $fallback;
}

@mixin font-families($platform: null) {
  --mono: #{family(monospace, $mono, $platform)};
  --sans: #{family(sans-serif, $sans, $platform)};
  --serif: #{family(serif, $serif, $platform)};
  --slab: #{family(serif, $slab, $platform)};
}

