@use "sass:map";

@function family($fallback, $platform, $platforms) {
  @return if(
    $platform,
    map.get($platforms, $platform),
    map.values($platforms)
  ), $fallback;
}

@mixin font-families($platform: null) {
  --mono: #{family(monospace, $platform, (
    Apple: "Menlo",
    Windows: "Consolas",
  ))};
  --sans: #{family(sans-serif, $platform, (
    Apple: "Helvetica",
    Windows: "Calibri",
  ))};
  --serif: #{family(serif, $platform, (
    Apple: "Times New Roman",
    Windows: "Constantia",
  ))};
  --slab: #{family(serif, $platform, (
    Apple: "Rockwell",
    Windows: "Cambria",
  ))};
}

