@mixin code-block {
  pre {
    background: var(--bg1);
    border-top: 0.1rem solid var(--pink);
    border-bottom: 0.1rem solid var(--pink);
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100vw;
  }

  pre code {
    color: var(--fg);
    font-family: var(--mono);
    font-size: var(--f12);
    min-width: var(--width);
    max-width: max(var(--width), 100vw);
    overflow-x: scroll;
    padding: 2rem var(--margin);
  }
}

