---
title: picknmix
description: Some Sass mixins
---
<!doctype html>
<html
  lang="en"
  dir="ltr">
  <head>
    <meta charset="utf-8" />

    <link
      rel="canonical"
      href="https://hen.cat/picknmix"
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <style>
    	{{ css | safe }}
    </style>

    <title>
      {{ title }}
    </title>
  </head>
  <body>
    <main>

      <header>
        <h1>
          {{ title }}
        </h1>
        <p>
          {{ description }}
        </p>
      </header>

      <dl>
        {% for feature in collections.features %}
          <dt>
            <a href="{{ url }}/{{ feature.data.name | slug }}">
              {{ feature.data.name }}
            </a>
          </dt>
          <dd>
            {{ feature.data.description }}
          </dd>
        {% endfor %}
      </dl>

    </main>
  </body>
</html>

