---
title: picknmix
---
<!doctype html>
<html
  lang="en"
  dir="ltr">
  <head>
    <meta charset="utf-8" />

    <link
      rel="canonical"
      href="https://hen.cat/picknmix"
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <style>
    	{{ css | safe }}
    </style>

    <title>
      {{ title }}
    </title>
  </head>
  <body>
    <main>
      {{ title }}
      <div>abcdefghijkl</div>
      <div>mnopqrstuvwxyz</div>
      <div>0123456789</div>
    </main>
  </body>
</html>

