@use "picknmix";

@include picknmix.theme;

pre > code {
  font-family: var(--mono);
  font-size: 1rem;
}

pre[class^="language-"] {
  // background: #223;
  background: var(--bg1);
  border-top: 0.1rem solid var(--fg);
  border-bottom: 0.1rem solid var(--fg);
  box-shadow:
    0 -0.1rem 0 var(--pink),
    0 0.1rem 0 var(--pink);
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
  width: 100vw;
}

pre[class^="language-"] > code {
  color: var(--fg);
  font-family: var(--mono);
  font-size: var(--f12);
  min-width: var(--width);
  overflow-x: scroll;
  padding: 0 var(--margin);
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--slab);
  font-size: var(--f12);
  line-height: 1.4em;
  row-gap: 1rem;
}

.content p {
  align-self: center;
  margin: 0;
  width: var(--column);
}

p code {
  font-size: 1em;
  font-family: var(--mono);
  line-height: 1em;
}

video {
  width: var(--column);
}

h2 {
  font-family: var(--slab);
  font-size: var(--f20);
  line-height: 1.5em;
  margin-top: calc(var(--margin) * 2);
  margin-bottom: var(--margin);
  text-align: left;
  width: var(--column);
}

pre,
svg {
  overflow: hidden;
  width: var(--column);
}

iframe {
  border: 1rem solid var(--pink);
  height: var(--column);
  margin: 0 0 1rem 0;
  width: var(--column);
}

a:link,
a:visited {
  color: var(--blue);
}

.language-scss {
  color: var(--orange);

  .keyword,
  .rule {
    color: var(--red);
  }

  .selector {
    color: var(--green);
  }

  .property {
    color: var(--purple);
  }

  .operator,
  .punctuation {
    color: var(--blue);
  }
}
