@use "picknmix";

@include picknmix.border-box;

:root {
  @include picknmix.column;
  @include picknmix.font-families();
  @include picknmix.font-sizes;
  @include picknmix.palette;
}

body {
  background-color: var(--bg0);
  color: var(--fg);
  margin: 0;
}

main,
article {
  align-items: center;
  display: flex;
  flex-direction: column;
}

header {
  @include picknmix.header;

  p {
    color: var(--pink);
  }
}

dl {
  @include picknmix.description-list;
}

pre > code {
  font-family: var(--mono);
  font-size: 1rem;
}

pre.example {
  // background: #223;
  background: var(--bg1);
  border-top: 0.1rem solid var(--fg);
  border-bottom: 0.1rem solid var(--fg);
  box-shadow:
    0 -0.1rem 0 var(--pink),
    0 0.1rem 0 var(--pink);
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  padding: 2rem 0;
  width: 100vw;
}

pre.example > code {
  color: var(--fg);
  font-family: var(--mono);
  font-size: 1rem;
  min-width: var(--box);
}

.content {
  font-family: var(--slab);
  font-size: var(--font-size-12);
  line-height: 1.4em;
  width: var(--column);
}

p code {
  font-size: 1em;
  font-family: var(--mono);
  line-height: 1em;
}

blockquote {
  background: var(--bg1);
  border-left: 0.5rem solid var(--pink);
  margin: 0;
  padding: 1rem 0;
}

blockquote p {
  padding-left: 1rem;
}

blockquote footer {
  padding-left: 1rem;
}

blockquote footer a {
  font-style: normal;
  text-decoration: none;
}

video {
  width: var(--column);
}

h2 {
  font-family: var(--slab);
  font-size: var(--font-size-20);
  margin-top: calc(var(--margin) * 2);
  margin-bottom: var(--margin);
  text-align: left;
  width: var(--column);
}

iframe {
  border: 1rem solid var(--pink);
  height: var(--column);
  margin: 0 0 1rem 0;
  width: var(--column);
}

a:link,
a:visited {
  color: var(--blue);
}

