@use "picknmix";

@include picknmix.border-box;

:root {
  @include picknmix.column;
  @include picknmix.font-sizes;
}

body {
  margin: 0;
}

article {
  align-items: center;
  display: flex;
  flex-direction: column;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: var(--picknmix-column);
  justify-content: center;
  margin-top: var(--picknmix-margin);
  width: var(--picknmix-column);
}

h1 {
  font-family: Rockwell;
  font-size: var(--picknmix-font-size-40);
  font-size: var(--picknmix-font-size-30);
  text-align: center;
  margin: 0;
}

header p {
  font-size: var(--picknmix-font-size-14);
  margin: 0;
  text-align: center;
}


/*
:root {
  --padding: clamp(
    0rem,
    calc((100vw - 16rem) / 4),
    1rem
  );
  --tiny: calc(100vw - var(--padding) * 2);
  --wide: 32rem;
  --box: min(var(--tiny), var(--wide));
}


body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: var(--padding);
}

main {
  background: cyan;
  width: picknmix.chunk();
  height: picknmix.chunk();
  width: var(--box);
  height: var(--box);


  font-size: calc(
    1rem
  );
}

main div {
  font-family: Futura;
}

main div:nth-child(1) {

  --size: clamp(
    1rem,
    calc(1rem + (100vw - var(--padding) * 2 - 8rem) / 8),
    4rem
  );

  font-size: var(--size);
}

main div:nth-child(2) {
  --size: clamp(
    1rem,
    calc(1rem + (100vw - var(--padding) * 2 - 8rem) / 12),
    3rem
  );
  font-size: var(--size);
}

main div:nth-child(3) {
  --size: clamp(
    1rem,
    calc(1rem + (100vw - var(--padding) * 2 - 8rem) / 24),
    2rem
  );
  font-size: var(--size);

  // width: calc(
    // (32rem - (100vw - 2rem))
  // );
  // --v: calc(1rem + (14 - 12) * ((100vw - 8rem) / (32 - 8)));
  // font-size: clamp(
    // 1rem,
    // calc(1rem + (14 - 12) * ((100vw - 8rem) / (32 - 8))),
    // 2rem
  // )
}

*/

pre > code {
  font-family: Menlo, monospace;
  font-size: 0.8rem;
}

pre.example {
  background: #223;
  border-to: 0.2rem solid hotpink;
  border-bottom: 0.2rem solid hotpink;
  box-shadow:
    0 -0.1rem 0 cyan,
    0 0.1rem 0 cyan;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  padding: 2rem 0;
  width: 100vw;
}

pre.example > code {
  color: white;
  font-family: Menlo, monospace;
  font-size: 0.8rem;
  min-width: var(--box);
}

.content {
  color: darkslategray;
  font-family: Rockwell;
  font-size: var(--picknmix-font-size-12);
  line-height: 1.4em;
  width: var(--picknmix-column);
}

img {
  width: var(--picknmix-column);
}
