---js
{
  css: function(scss) {
    scss = [
      '@use "picknmix";',
      scss,
    ].join("\n")
    const sass = require("sass")
    return sass.renderSync({ data: scss }).css
  },
}
---

<!doctype html>
<html
  lang="en"
  dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <style>
      {{ css(scss) }}
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>

