<!doctype html>
<html
  lang="en"
  dir="ltr">
  <head>
    <meta charset="utf-8" />

    <link
      rel="canonical"
      href="https://hen.cat/picknmix/{{ name }}"
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <link
      rel="stylesheet"
      href="{{ collections["11tysass"]["style.scss"].stats.entry }}"
    />

  </head>
  <body>
    <article class="mixin">
      <header>
        <h1>
          {{ example.name }}
        </h1>
        <p>
          {{ example.description }}
        </p>
      </header>

      <iframe src="/examples/{{ example.name | slug }}/iframe.html"></iframe>

      <h2>Stylesheet</h2>
      {% highlight "scss" %}{{ example.scss | safe }}{% endhighlight %}

      <h2>Markup</h2>
      {% highlight "html" %}{{ example.html | safe }}{% endhighlight %}

    </article>
  </body>
</html>

