---js
{
  src: function(name) {
    const fs = require("fs-extra")
    const slug = name.replace(/ /g, "-")
    const path = `${slug}/_${slug}.scss`
    const src = fs.readFileSync(path)
    return src
  }
}
---
<!doctype html>
<html
  lang="en"
  dir="ltr">
  <head>
    <meta charset="utf-8" />

    <link
      rel="canonical"
      href="https://hen.cat/picknmix"
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <style>
    	{{ css | safe }}
    </style>

    <title>
      {{ title }}
    </title>
  </head>
  <body>
    <main>
      <article class="mixin">
        <header>
          <h1>
            {{ name }} mixin
          </h1>
          <p>
            {{ description }}
          </p>
        </header>
        {% highlight "scss" %}{{ src(name) | safe }}{% endhighlight %}
        <div class="content">
          {{ content | safe }}

          <h2>
            demo
          </h2>
          <iframe src="/{{ name | slug }}/demo"></iframe>
        </div>
      </article>
    </main>
  </body>
</html>

