<!doctype html>
<html
  lang="en"
  dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link
      rel="stylesheet"
      href="{{ collections["11tysass"]["style.scss"].stats.entry }}"
    />
  </head>
  <body>

    <article>
      <header>
        <h1>
          {{ name }} mixin
        </h1>
        <p>
          {{ description }}
        </p>
      </header>

      <section>
        {% highlight "scss" %}{{ mixin | safe }}{% endhighlight %}
      </section>

      <section>
        {{ content | safe }}
      </section>

      {% if examples | length > 0 %}
        <section>
          <h2>
            Examples
          </h2>
          <dl>
            {% for example in examples %}
              <dt>
                <a href="/examples/{{ example.name | slug }}">
                  {{ example.name }}
                </a>
              </dt>
              <dd>
                {{ example.description }}
              </dd>
            {% endfor %}
          </dl>
        </section>
      {% endif %}

      {% if dependencies | length > 0 %}
        <section>
          <h2>
            Dependencies
          </h2>
          <dl>
            {% for dependency in dependencies %}
              <dt>
                <a href="/mixins/{{ dependency.data.name }}">
                  {{ dependency.data.name }}
                </a>
              </dt>
              <dd>
                {{ dependency.data.description }}
              </dd>
            {% endfor %}
          </dl>
        </section>
      {% endif %}

      {% if dependents | length > 0 %}
        <section>
          <h2>
            Dependents
          </h2>
          <dl>
            {% for dependent in dependents %}
              <dt>
                <a href="/mixins/{{ dependent.data.name }}">
                  {{ dependent.data.name }}
                </a>
              </dt>
              <dd>
                {{ dependent.data.description }}
              </dd>
            {% endfor %}
          </dl>
        </section>
      {% endif %}

    </article>

  </body>
</html>
