---
layout: demo
scss: |
  :root {
    @include picknmix.column;
  }

  body {
    display: grid;
    place-content: center;
    margin: 0;
    height: 100%;
  }

  main {
    background-color: cyan;
    height: var(--column);
    margin-top: var(--margin);
    width: var(--column);
  }

---

<main>
</main>

