@mixin description-list {
  display: flex;
  flex-direction: column;
  width: var(--column);

  dt {
    font-family: var(--slab);
    font-size: var(--f14);
  }

  dd {
    font-family: var(--slab);
    font-size: var(--f12);
    margin: 0;
  }

  dd:not(:last-child) {
    margin-bottom: 1rem;
  }
}

