---
layout: demo
scss: |
  :root {
    @include picknmix.column;
    @include picknmix.font-families;
    @include picknmix.font-sizes;
  }

  dl {
    @include picknmix.description-list;
  }
---

<dl>
  <dt>abc</dt>
  <dd>123</dd>
  <dt>def</dt>
  <dd>456</dd>
</dl>

