@mixin color-scheme($name, $force) {
  @if $force == null {
    @media (prefers-color-scheme: #{$name}) {
      @content;
    }
  } @else if $force == $name {
    @media all {
      @content;
    }
  }
}

@mixin palette($force: null) {
  @include color-scheme(light, $force) {
    --bg0: ghostwhite;
    --bg1: lavenderblush;
    --fg: darkslategray;
    --red: firebrick;
    --orange: orangered;
    --yellow: gold;
    --green: green;
    --blue: blue;
    --pink: mediumvioletred;
    --purple: rebeccapurple;
  }

  @include color-scheme(dark, $force) {
    --bg0: black;
    --bg1: midnightblue;
    --fg: ghostwhite;
    --red: tomato;
    --orange: orange;
    --yellow: khaki;
    --green: limegreen;
    --blue: deepskyblue;
    --pink: hotpink;
    --purple: fuchsia;
  }
}

