@function size($max, $damp) {
  @return clamp(
    1rem,
    calc(
      1rem + (
        100vw
        - var(--margin)
        * 2
        - 8rem
      ) / #{$damp}
    ),
    #{$max}
  );
}

@mixin font-sizes {
  --f12: #{size(1.2rem, 120)};
  --f14: #{size(1.4rem, 48)};
  --f20: #{size(2.0rem, 24)};
  --f30: #{size(3.0rem, 12)};
  --f40: #{size(3.0rem, 8)};
}

