---
layout: demo
scss: |
  :root {
    @include picknmix.column;
    @include picknmix.font-sizes;
  }

  body {
    display: grid;
    place-content: center;
    margin: 0;
    height: 100%;
  }

  main {
    align-items: center;
    background-color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--column);
    margin-top: var(--margin);
    width: var(--column);
  }

  .font-size-12 { font-size: var(--font-size-12); }
  .font-size-14 { font-size: var(--font-size-14); }
  .font-size-20 { font-size: var(--font-size-20); }
  .font-size-30 { font-size: var(--font-size-30); }
  .font-size-40 { font-size: var(--font-size-40); }

---

<main>
  <div class="font-size-40">font-size-40</div>
  <div class="font-size-30">font-size-30</div>
  <div class="font-size-20">font-size-20</div>
  <div class="font-size-14">font-size-14</div>
  <div class="font-size-12">font-size-12</div>
</main>

