/*
name: body
description: Body styles
dependencies:
  - font-families
  - font-sizes
  - palette
*/

@mixin body {
  body {
    background-color: var(--bg0);
    color: var(--fg);
    font-family: var(--slab);
    font-size: var(--f12);
    margin: 0;
  }

  article,
  body,
  main {
    justify-content: center;
    justify-items: center;
    display: grid;
  }
}

