/*
name: burst
layout: mixin
description: Poking out slightly for a little extra prominence
dependencies:
  - width
*/

@mixin burst {
  --burst: calc(
    clamp(
      0rem,
      calc((100vw - 32rem) / 1),
      4rem
    ) + var(--width)
  );
}

