/*
name: margin
layout: mixin
description: Responsive content margin
examples:
  - name: margin demo
    description: A box with a margin applied
    html: |
      <div></div>
    scss: |
      div {
        background: var(--orange);
        flex: 1;
        margin: var(--margin);
      }

      main {
        display: flex;
      }

notes:
  - title: About
    text: |
      This mixin provides a CSS variable called `--margin` which can be used as
      a margin around page content. It supports viewport widths as narrow as
      128px.  For widths below 256px it applies no margin in order to conserve
      space for content.  A 16px margin is applied to mobile viewports to
      create some breathing room around content. Once the viewport width
      exceeds the maximum width of the [column], the margin drops back to zero.
      [column]: /column

  - title: Behavior
    text: |
      The following graph shows the growth of the margin for viewport widths
      from 128px to 1024px.

      <img src="/plots/margin.svg" />

*/

@mixin margin {
  --margin: calc(
    clamp(
      0rem,
      calc((100vw - 16rem) / 2),
      1rem
    ) - clamp(
      0rem,
      calc((100vw - 32rem) / 2),
      1rem
    )
  );
}

