/*
name: width
description: Simple content width limit
notes:
  - title: About
    text: |
      This mixin provides a CSS variable called `--width` which can be used as
      a width limit constraining content to with 512px.

  - title: Behavior
    text: |
      The following graph shows the growth of the width for viewport widths
      from 128px to 1024px.

      <img src="/plots/width.svg" />

*/


@mixin width {
  --width: min(
    100vw,
    32rem
  );
}

