@use "../blockquote/blockquote" as *;
@use "../border-box/border-box" as *;
@use "../code-block/code-block" as *;
@use "../description-list/description-list" as *;
@use "../header/header" as *;
@use "../paragraph/paragraph" as *;
@use "../root/root" as *;
@use "../section/section" as *;

@mixin theme {
  @include border-box;
  @include root;

  @include blockquote;
  @include code-block;
  @include description-list;
  @include header;
  @include paragraph;
  @include section;

  body {
    background-color: var(--bg0);
    color: var(--fg);
    margin: 0;
  }

  article,
  main {
    justify-content: center;
    display: grid;
  }
}

