@use "../blockquote/blockquote" as *;
@use "../border-box/border-box" as *;
@use "../code-block/code-block" as *;
@use "../column/column" as *;
@use "../description-list/description-list" as *;
@use "../font-families/font-families" as *;
@use "../font-sizes/font-sizes" as *;
@use "../header/header" as *;
@use "../margin/margin" as *;
@use "../palette/palette" as *;
@use "../root/root" as *;
@use "../width/width" as *;

@mixin theme {
  @include border-box;
  @include root;

  body {
    background-color: var(--bg0);
    color: var(--fg);
    margin: 0;
  }

  article,
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  main > header,
  main > article > header {
    @include header;
  }

  blockquote {
    @include blockquote;
  }

  dl {
    @include description-list;
  }

  pre {
    @include code-block;
  }
}

