@mixin unordered-list {
  ul {
    display: grid;
    font-family: var(--slab);
    font-size: var(--f12);
    margin: 0;
    padding: 0 0 0 1.5rem;
    row-gap: 1rem;
    width: var(--column);
  }

  ul li::marker {
    color: var(--pink);
    font-size: 1.3em;
    line-height: 1em;
  }
}
