@mixin header {
  body > main > header,
  body > article > header {
    display: grid;
    justify-content: center;
    justify-self: center;
    min-height: var(--column);
    place-content: center;
    width: var(--column);
  }

  body > main > header h1,
  body > article > header h1 {
    font-family: var(--slab);
    font-size: var(--f30);
    text-align: center;
    margin: 0;
  }

  body > main > header *:nth-child(2),
  body > article > header *:nth-child(2) {
    color: var(--pink);
    font-family: var(--slab);
    font-size: var(--f14);
    margin: 0;
    text-align: center;
  }
}

