---
layout: demo
scss: |
  :root {
    @include picknmix.column;
    @include picknmix.font-families;
    @include picknmix.font-sizes;
    @include picknmix.margin;
    @include picknmix.width;
  }

  body {
    display: grid;
    place-content: center;
    margin: 0;
    height: 100%;
  }

  header {
    @include picknmix.header;
  }

---

<header>
  <h1>header demo</h1>
  <p>the quick brown fox jumps over the lazy dog</p>
</header>

