---
layout: demo
scss: |
  :root {
    @include picknmix.width;
  }

  body {
    display: grid;
    place-content: center;
    margin: 0;
    height: 100%;
  }

  main {
    background-color: cyan;
    width: var(--width);
  }

---

<main>
  this box's width is set by <code>--width</code>
</main>

